/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
	margin-top: 15px;
	width: 100%;
	color: #fff;
	border: none;
	padding: 10px 0;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}

@each $button, $color-bg in $buttons {
	.#{$button} {
		background-color: $color-bg;
		&:hover {
			background-color: lighten($color-bg, 15%);
		}
	}
}
